@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

html {
    scroll-behavior: smooth;
  }

html, body {
    overflow-x: hidden;
  }

.scrollbar-none::-webkit-scrollbar {
    display: none;
  }

.scrollbar-none {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none;    /* Firefox */
  }

.custom-vh {
  height: calc(var(--vh, 1vh) * 100);
}